/* html {
  background-color: #fbab7e;
  background-image: linear-gradient(300deg, #fbab7e 0%, #ffce00 59%);
} */
body {
  background-image: linear-gradient(120deg, #ffce00 0%, #fda085 100%);

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.clickable {
  cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  height: 25px;
  width: 50px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: gray;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  top: 2px;

  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(25px);
}

/* @media (max-width: 658px) {
  .list-group {
    display: grid;
    grid-template-columns: auto;
    margin-bottom: 1rem;
  }
} */

@media (max-width: 576px) {
  .btn-responsive {
    padding: 4px 6px;
    font-size: 80%;
    line-height: 1.5;
    border-radius: 3px;
  }
}
@media (max-width: 576px) {
  .text-responsive {
    font-size: 80%;
    line-height: 1.5;
  }
}
@media (max-width: 576px) {
  .text2-responsive {
    font-size: 90%;
    line-height: 1.5;
  }
}

/* h2 {
  font-size: 5vw;
} */
/* style={{ fontSize: "0.8rem" }} */
